* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000000;
  color: #f5f5dc;
  width: 70%;
  margin: auto;
}
.head {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 0px;
}
h1 {
  padding: 7px;
}
input {
  background-color: #9692924b;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 3px;
}
input:focus {
  background-color: #473b34;
  scale: 1.09;
}
#title {
  width: 100%;
}
.prices input {
  width: 17%;
}
#total {
  background-color: #0000ff;
  padding: 4px;
}
#total::before {
  content: "total :";
}
#category {
  width: 100%;
}
#create {
  width: 100%;
  padding: 10px;
  background-color: #8f53aa;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #f0f8ff;
  transition: 0.5s;
}
#create:hover {
  letter-spacing: 1px;
  background-color: #4c066d;
}
#search {
  width: 100%;
}
.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btns button {
  padding: 8px;
  margin: 3px;
  width: 45%;
  background-color: #8f53aa;
  cursor: pointer;
  color: #f0f8ff;
  transition: 0.5s;
}
.btns button:hover {
  letter-spacing: 1px;
  background-color: #4c066d;
}
table {
  width: 100%;
  text-align: center;
}
thead tr {
  text-transform: uppercase;
}
th,
tr {
  padding: 5px;
}
td button {
  width: 100%;
  padding: 10px;
  background-color: #8f53aa;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #f0f8ff;
  transition: 0.5s;
}
td button:hover {
  letter-spacing: 1px;
  background-color: #4c066d;
}
#btn {
  width: 100%;
  padding: 10px;
  background-color: #8f53aa;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #f0f8ff;
  transition: 0.5s;
}
#btn:hover {
  letter-spacing: 1px;
  background-color: #8f53aa;
}
#count {
  background-color: #9692924b;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin: 3px;
}
